<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> <!-- displays site properly based on user's device -->
    <meta name="description" content="portfolio">
    <meta name="author" content="Osaze Osaigbevo">
  
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" media="screen" href="css/style.css">
    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Osaze Osaigbevo</title>
  </head>
  <body>
    <h1>Message sent successfully</h1>
  </body>